# Compiled/cached Python files
__pycache__
*.pyc

# IDE
.idea
.vscode

# Images
/tasks/images/MRT/p[0-9]*.png
/tasks/images/MRT/[0-9]*.png
/tasks/images/Ravens/*.png
/tasks/images/Ravens/practice/*.png

# Data files
/data/*_*.xls

# Settings file
settings.ini
projects.txt
