# Compiled/cached Python files
__pycache__
*.pyc

# Build
run_battery.spec
/build
/dist

# IDE
.idea
.vscode
.spyproject

# Images
/tasks/images/MRT/p[0-9]*.png
/tasks/images/MRT/[0-9]*.png
/tasks/images/Ravens/*.png
/tasks/images/Ravens/practice/*.png

# Projects list
projects.txt
